name: Smoke Checks

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  smoke:
    name: Run smoke checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Use Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run smoke tests
        run: npm run test:smoke
